.DS_Store
/build*/
.logamgx
*.cmake
plugin_config.cpp
*.sublime-project
*.sublime-workspace
core/src/version.cpp
ci/docker/
.vscode/
examples/input_matrix/
*.mtx
.utestsnums
perf/DILU_forward_1x1_kernel/build/